body {
  width: 100%;
  background-color: #EBEDEF;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

span {
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

.about {
  text-align: center;
  width: 40%;
  margin: auto;
  border-right: solid 1px #5D6D7E;
  border-bottom: dotted 1px red;
  box-shadow: 10px 10px 10px 5px #EBDEF0;
}

.about h1 {
  font-family: 'Pacifico', cursive;
  border-top: double black;
  border-left: double black;
}

.about p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
}

.container {
  display: flex;
}

.education {
  text-align: center;
  width: 40%;
  float: right;
  margin: auto;
  padding: 2%;
  border-left: dotted 1px black;
  border-bottom: solid 1px red;
  box-shadow: 19px -10px 10px 0px #B2BABB;
}

.education h1 {
  font-family: 'Pacifico', cursive;
  border-right: double black;
  border-top: double black;
}

.education li {
  font-family: 'Playfair Display', serif;
}

.education p {
  font-family: 'Playfair Display', serif;
}

.hobbies {
  width: 30%;
  text-align: right;
  border-right: solid 1px black;
  margin-bottom: 40%;
  margin-left: 10%;
  margin-top: 20%;
  box-shadow: 17px 12px 5px 0px gray;
}

.hobbies h1{
  text-align: center;
  font-family: 'Pacifico', cursive;
  border-left: double black;
  border-bottom: double black;
  margin-top: 20%;
}

.hobbies li {
  font-family: 'Anton', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 60%;
  box-shadow: 5px 5px 5px 5px gray;
  width: 250px;
  opacity: ;
}

.jumbotron {
  background-color: #1A5276;
  text-align: center;
  box-shadow: 5px 5px 10px black;
  opacity: 0.7;
}

.jumbotron h1 {
  color: black;
  font-size: 4em;
  font-family: 'Arvo', serif;
  text-shadow: 4px 3px 10px #BB8FCE;
  border-bottom: double black;
}

.jumbotron h2 {
  color: black;
  font-size: 1.5em;
  font-family: 'Arvo', serif;
  float: right;
  margin-right: 2%;
  margin-bottom: 2%;
}

.jumbotron h3 {
  color: black;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  float: left;
  margin-left: 2%;
}

.links {
  width: 30%;
  float: right;
  padding: 5%;
  border-left: solid 1px black;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: -18px -10px 5px 0px gray;
}

.links h1 {
  font-family: 'Pacifico', cursive;
  border-right: double black;
  border-bottom: double black;
}

.links li {
  font-family: 'Anton', sans-serif;
}

/* unvisited link */
a:link {
    color: #5F6A6A;
}

/* visited link */
a:visited {
    color: #5F6A6A;
}

/* mouse over link */
a:hover {
    color: #D6EAF8;
}

/* selected link */
a:active {
    color: #FADBD8;
}

.wrapper {
  display: flex;
}
